/* 

--- 01 TOPOGRAPHHY SYSTEM

Font size system (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

--- 02 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


- Font weights:
Default: 400
Medium:500
Semi-bold:600
Bold: 700
ExtraBold: 800

- Line heights:
Default: 1
Small: 1.05
Medium: 1.2
Parafraf default: 1.6

- Letter spacing
-0,5px
0.75px



--- 03 COLORS

- Primary: #fff #312622 #756560 #538b09 #3a6106 #4b7d08 #b58e71 #a38066
- Tints:  
- Shades: 
- Accents:
- Greys:  #333 #444 #777 #d3d1d1 #767676 #8d8c8c


--- 04 SHADIWS

--- 05 BORDER RADIUS
Default: 0.9rem

CAR LOGO 
https://app.logomakr.com/94aefz
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 
  CHANGING THE FONT FROM PX TO REM
  !!!   1trem = 16px   !!! */
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  /* overflow-x: hidden --> means that all elements that extend beyond the X axis will be hidden, BUT at the same time we must add: 'position: relative' in the 'header' / Only works if there is nothing absolutely positioned in relation to body*/
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  /* font-family: "Rubik", sans-serif; */
  line-height: 1.5;
  /* font-weight: 400; */
  color: #222;
  /* FONT */
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Removed 'focused field' - blue frame of buttons visible when pressed */
*:focus {
  outline: none;
  /* box-shadow: 0 0 0 0.5rem rgba(224, 238, 205, 0.5); */
}

.hidden-item {
  visibility: hidden;
  letter-spacing: 0.1px;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #3a6106;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.heading-primary {
  font-size: 3rem;
  line-height: 1.5;
  margin-bottom: 2.4rem;
  color: #333;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 6.4rem;
  font-weight: 800;
  color: #333;
  letter-spacing: 1.5px;
}

.heading-tertiary {
  font-size: 2.4rem;
  line-height: 1.5;
  font-weight: 700;
  color: #3a6106;
  letter-spacing: 0.5px;
  margin-bottom: 1.2rem;
}

.rainbow-text {
  background-image: linear-gradient(
    to right,
    #312622,
    #756560,
    #b58e71,
    #538b09,
    #3a6106
  );
  -webkit-background-clip: text;
  color: transparent;
}

.icon {
  z-index: 0;
}

.btn:link,
.btn:visited {
  /*each button should be added as 'display: inline-block', which is often used to keep elements inline, but this does not limit the use of margins, padding and other styles. /// ('display: inline' is used to make the button behave like inline text elements, which means that other elements can appear next to them without any gaps. But this limits the ability to set padding and margins and other styling properties.) display: inline – causes the element to be displayed as a linear element. display: block – the element will be displayed as a block element. display: inline-block – combines the features of linear and block elements. */
  display: inline-block;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  padding: 1rem 3.2rem;
  border-radius: 1rem;
  justify-content: center;
}

/* A UNIVERSAL GRID/CONTAINER THAT WILL BE USED THROUGHOUT THE ENTIRE PROJECT */

.container {
  max-width: 120rem;
  /* 120rem because 1200px or 1140px is considered standard on websites */
  margin: 0 auto;
  /* margin: 0 auto because these values are accepted as standard on websites */
  padding: 0 3.2rem;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 5.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--center-v {
  /* grid-center-verticly - we use it as an auxiliary class to center all the elements in the grid container class boxes in the "How-It-Works" section */
  align-items: center;
}

/* *******   OTHER      ******* */

.center-text {
  text-align: center;
}

/* MODAL WINDOW */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;

  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 455%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}


/* *************************** */
/* NAV SECTION */
/* *************************** */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  /* Because we want the nav to be 'sticky' (it will move when we scroll along with the page), we set the height and padding: */
  height: 10rem;
  padding: 0 4.8rem;
  position: relative;
  border-bottom: 2px solid #333;

  /* !!! OTHER OPTION - Pinned NAV while scrolling !!! */
  /* position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999; */
}

div#fixed_header {
  position: fixed;
  top: 0;
  z-index: 9999;
  background-color: #fff;
}

.logo {
  width: 90%;
}

.logo:hover {
  animation: wiggle 2s linear infinite;
}

.logo-link {
  display: flex;
  justify-content: left;
  align-items: center;
}

.section-main {
  justify-content: center;
  align-items: center;
}

.img-main-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
  letter-spacing: 2px;
}

.main-nav-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
  margin-right: 6rem;
}

.main-nav-list span {
  /* color: #538b09; */
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #312622;
  font-weight: 700;
  font-size: 2rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #756560;
}

.main-nav-list span:hover,
.main-nav-list span:active {
  color: #4b7d08;
}

/*  ***  LANGUAGE VERSIONS ***  */

.element:link,
.element:visited {
  width: 5rem;
  font-size: 2rem;
  padding: 0 1rem;
  cursor: pointer;
  color: #538b09;
  font-weight: 700;
  transition: all 0.3s ease-out;
  text-transform: uppercase;
  text-decoration: none;
}

.element:hover,
.element:active {
  color: #538b09;
}

.element:first-child {
  border-right: 1px solid #333;
  color: #312622;
  font-weight: 600;
}

/* *** MOBILE NAV BTN *** */

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  /* by default with normal widt '.btn-mobile-nav' must be ;display: none; */
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* STICKY NAVIGATION */

.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 10rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 246, 216, 0.938);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.04);
}

.sticky .section-main {
  margin-top: 10rem;
}

/* *************************** */
/* VIDEO SECTION */
/* *************************** */

.hero {
  position: relative;s
  /* width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
  gap: 2rem; */
}

.hero h1,
.hero h2 {
  text-align: center;
  font-family: Trebuchet MS;
  /* background-color: #fff; */
  z-index: 1;
  opacity: 0.8;
  padding: 0 2.2rem;
  text-shadow: 6px 7px 6px #111;
}

.hero h1{
    position: absolute;
  top: 50%;
  left: 6%;
  transform: translate(0, -50%);
  max-width: 500px;;
}

.hero-btn {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

#background-video {
  /* width: 100vw;
  height: 100vh; */
  object-fit: cover;
  width: 100%;
  /* position: fixed; */
  /* left: 0;
  right: 0;
  top: 0;
  bottom: 0; */
  /* top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  min-height: 50%;
  min-width: 50%;
  z-index: -1; */
}

h1 {
  font-size: 6rem;
}
h2 {
  font-size: 3rem;
}

.video-container {
  /* position: absolute;
  top: 0;
  left: 0;
  width: 100%; */
}

.color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(34, 34, 34, 0.24);
  width: 100%;
  height: 100vh;
}

.step-image{
  width: 40px;
  height: 40px;
  position: absolute;
  left: 30px;
  top: -35px;
  z-index: 10;
}

.step-image img{
  width: auto;
  height: 100%;
}

/* *************************** */
/* MAIN SECTION */
/* *************************** */
.section-main {
  /* If we have background-color set, we use padding to make spaces */
  padding: 8rem 0;
  background: #f8f4f1;
}

.main {
  column-gap: 3.2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* MAIN BOX TEXT + SLIDE */
.main-text {
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 2.4rem;
}

.text-box {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.hero-rs {
  font-size: 3rem;
  line-height: 1.5;
  margin-bottom: 2.4rem;
  /* color: #426666; */
  font-weight: 800;
  letter-spacing: -1px;
}

/* *** Satisfied customers *** */

.guests {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 6rem;
}

.guests-imgs {
  display: flex;
  justify-content: center;
  margin-left: 1rem;
}

.guests-imgs img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  margin-right: -1.5rem;
  border: 3px solid #eef3e6;
}

.guests-imgs img:last-child {
  margin: 0;
}

.guests-text {
  margin-left: 1.6rem;
  font-size: 1.6rem;
  font-weight: 600;
}

.guests-text span {
  color: #b58e71;
  font-weight: 700;
  font-size: 1.6rem;
}

/* *** IMAGE AUTO SLIDER *** */
.slide-box {
  display: flex;
  align-items: center;
  gap: 24px;
  flex-direction: column;
}

.top {
  display: flex;
  align-items: center;
  gap: 20px;
}

.arrow {
  height: 60px;
  cursor: pointer;
}

.right {
  transform: rotate(180deg);
}

.frame {
  width: 640px;
  height: 340px;
  overflow: hidden;
  /* box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.5); */
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.3);
}

.slider {
  display: flex;
  transition: all 1s ease;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bottom {
  display: flex;
  gap: 30px;
}

.button {
  width: 10px;
  height: 10px;
  border: 1px solid #b58e71;
  border-radius: 50%;
  cursor: pointer;
}

/* *************************** */
/* JAK TO DZIAŁA SECTION */
/* *************************** */

.section-how {
  padding: 3.2rem 0 3.2rem 0;
  background: linear-gradient(
    90deg,
    rgba(219, 229, 206, 1) 4%,
    rgba(238, 243, 230, 1) 26%,
    rgba(255, 255, 255, 1) 100%
  );
}

.steps {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 3.2rem;
  margin-bottom: 7rem !important;
}

.step-number {
  color: #312622;
  font-size: 6rem;
  font-weight: 600;
  z-index: 3;
}

.step-number:hover {
  animation: wiggle 2s infinite;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.6;
}

.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;

  /* We add 'position: relative' because 'step-img-box' is the parent element to the shape we're adding in '.step-img-box::before' */
  position: relative;

  width: 121px;
  height: 121px;
  margin: 0 auto;
}

.step-img-box::before {
    content: "";
  display: block;
  background-color: #3a6106;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 1rem;
  width: 100%;
  height: 100%;
}

.step-img-box::after {
  width: 97px;
  padding-bottom: 20%;
  background-color: #eef3e6;
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 14px;
  left: 10px;
  z-index: 2;
  height: 71px;
}

.plans-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 8rem 0 1rem 0;
  color: #333;
}

.plan-link--text {
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

.chevron-down-icon {
  font-size: 5rem;
  text-decoration: none;
  cursor: pointer;
  text-decoration: none;
  color: #b58e71;
  margin-top: -1rem;
}

.plans-link:hover {
  transform: translateY(+1rem);
  transition: all 0.4s;
}

/* *************************** */
/* PLANS SECTION */
/* *************************** */

.section-options {
  padding: 3.2rem 0 0rem 0;
}

.booking-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 6.4rem;
  row-gap: 9.6rem;
  /* width: 100rem; */
  width: 100%;
}

.tag-page {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.05);
  border-radius: 1.1rem;
  position: relative;
  z-index: 1;
}

.page-title {
  padding: 0.4rem 0.8rem;
  font-size: 2.6rem;
  text-transform: uppercase;
  color: #333;
  position: absolute;
  /* transform: translate(-50%, -50%); */
  top: -4.2%;
  z-index: 10;
  background-color: #fff;
}

.page-image{
  position: absolute;
  top: -30px;
  right: 2px;
  width: 50px;
  height: 50px;
  background-color: #fff;
}

.page-image img{
  width: auto;
  height: 100%;
}



.one-page {
  border: 2px solid #555;
}

.business-page {
  border: 2px solid #538b09;
}

.enterprise-page {
  border: 2px solid #b58e71;
}

/* **** Mooving box **** */

/* .booking:hover {
  transform: translateY(-1.2rem);
  transition: all 0.4s;
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
} */

.booking-content {
  /* padding: 1.2rem 4.8rem 2.4rem 4.8rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.booking-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
  justify-content: center;
}

.booking-img {
  width: 100%;
}

.booking-icon1 {
  font-size: 2.4rem;
  color: #333;
}

.booking-icon2 {
  font-size: 2.4rem;
  color: #538b09;
}

.booking-icon3 {
  font-size: 2.4rem;
  color: #b58e71;
}

.price {
  font-size: 4.4rem;
  color: #333;
  font-weight: 500;
  margin: 4.8rem 0 4.8rem 0;
}

.pound {
  font-size: 2.4rem;
}

.vat {
  font-size: 1.2rem;
  color: #999;
  font-weight: 400;
}

.attribute {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.attribute-title {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 2.4rem;
}

.booking-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2.4rem;
}

.booking-attribute {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

/* *** BTN *** */
.btn-place {
  display: flex;
  justify-content: center;
  margin-bottom: 2.4rem;
}

.btn {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  padding: 1rem 3.2rem;
  border-radius: 1rem;
  font-size: 1.8em;
  margin: 0 auto;
  transition: all 0.4s;
  letter-spacing: 0.2rem;
  font-weight: 500;
  justify-content: center;
  position: absolute;
  bottom: -1.5rem;
}

.btn--border1 {
  color: #fff;
  border: solid 2.4px #444;
  background: #444;
}

.btn--border1:hover,
.btn--border1:active {
  background-color: #111;
  border: solid 2.4px #111;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.btn--border2 {
  color: #fff;
  border: solid 2.4px #538b09;
  background-color: #538b09;
}

.btn--border2:hover,
.btn--border2:active {
  background-color: #4b7d08;
  border: solid 2.4px #4b7d08;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.btn--border3 {
  color: #fff;
  border: solid 2.4px #b58e71;
  background-color: #b58e71;
}

.btn--border3:hover,
.btn--border3:active {
  background-color: #a38066;
  border: solid 2.4px #a38066;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.place-info {
  max-width: 100rem;
  margin: 0 auto 3.6rem auto;
  padding: 0 3.2rem;
  margin-top: 8rem;
}

.place-info h3 {
  /* text-align: center; */
}

.list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  line-height: 1.2;
}

.list-icon {
  font-size: 3rem;
  color: #b58e71;
}

.subheading::after {
  /* content: "";
  position: relative;
  display: block;
  width: 100px;
  height: 6px;
  background-color: #3620b5;
  margin-top: 10px;
  margin-bottom: 0.5em; */
}

/* Responsive Infinite Carousel slider */

.integrations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20rem;
  margin-top: 3.2rem;
}

.brand-carousel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 65%;
}

.brand-carousel img {
  height: 3rem;
  opacity: 55%;
  filter: brightness(0);
}

.trustpilot {
  padding-bottom: 5px;
}

.livechat,
.instagram {
  padding-top: 5px !important;
}
/* *************************** */
/* FEATURED-IN SECTION */
/* *************************** */

.section-featured {
  /* frames up/down 4.8rem, right/left 0rem */
  padding: 3.2rem 0 4.8rem 0;
}

.heading-featured-in {
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.75px;
  text-align: center;
  margin-bottom: 2.4rem;
  text-transform: uppercase;
  color: #888;
}

.logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}

.logos img {
  height: 7rem;
  /*  code that allows you to edit photos/images and subtitles, e.g.: widening/blurring/color saturation/changing brightness, etc. */
  filter: brightness(0);
  opacity: 50%;
}

/* *************************** */
/* ABOUT SECTION */
/* *************************** */

.section-about {
  display: grid;
  /* instead of 1fr you can write 55fr 45fr which corresponds to the 55%/45% division */
  grid-template-columns: 45% 55%;
}

.about {
  padding-top: 3rem;
}

.about-text-box {
  padding: 8rem;
}

.about-text {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
  font-size: 1.8rem;
  line-height: 1.6;
}

.about-text p {
  font-size: 1.8rem;
  line-height: 1.6;
}

/* *** GALLERY *** */

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.6rem;
  padding: 1.6rem 0;
}

.gallery-item {
  /* ZMIENNA do HOOVER EFFECT: */
  overflow: hidden;
}

.gallery-item img {
  /* aby wyelimonować przerwy między zdjęciami ustawiamy display: block */
  display: block;
  /* dodajemy width: 100% aby zdjęcia były flexible w trakcie zmniejszania/zwiększania przeglądarki */
  width: 100%;
  /* HOOVER EFFECT option */
  transition: all 0.4s;
}

/* HOOVER EFFECT */

.gallery-item img:hover {
  transform: scale(1.1);
}

/* *************************** */
/* BOOKING SECTION */
/* *************************** */

.section-booking {
  padding: 6.4rem 0;
  margin-bottom: 4.8rem;
}

.booking-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.booking {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 1.1rem;
  /* gdy zdjęcie jest kwadratowe, a shaddow pod zdjęciem okrągłe, to zamiast edytować zdjęcie wystarczy zrobić overflow: hidden i wszystko co nachodziło na shaddow będzie miało takie wartości jak shaddow */
  overflow: hidden;
}

.booking-comfort {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 1.1rem;
  /* gdy zdjęcie jest kwadratowe, a shaddow pod zdjęciem okrągłe, to zamiast edytować zdjęcie wystarczy zrobić overflow: hidden i wszystko co nachodziło na shaddow będzie miało takie wartości jak shaddow */
  overflow: hidden;
  background-color: #eef3e6;
  position: relative;
}

/* Adding yellow label "Best value" */

.booking-comfort::after {
  content: "Best value";
  position: absolute;
  top: 6%;
  right: -18%;
  transform: rotate(45deg);
  /* Aby cut off corners musimy do parent element dodać: overflow: hidden do parent element*/

  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  color: #333;
  background-color: #ffd43b;
  padding: 0.8rem 8rem;
}

/* **** Mooving box **** */

.booking-content {
  padding: 1.2rem 2.4rem 2.4rem 2.4rem;
}

.booking-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
  justify-content: center;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 1rem;
  font-weight: 600;
}

.free-cancelation {
  background-color: #75a23a;
  color: #fff;
}

.non-refundable {
  background-color: #d3d1d1;
}

.booking-img {
  width: 100%;
}

.booking-icon {
  font-size: 2.4rem;
  color: #777;
}

.booking-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin: 2.4rem 0 1.2rem 0;
}

.booking-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.booking-attribute {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  line-height: 1.2;
}

.hidden {
  visibility: hidden;
}

/* *** BTN *** */
.btn-place {
  display: flex;
  justify-content: center;
  margin-bottom: 2.4rem;
}

/* *** CLOUD TOOLTIP *** */

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 90%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -110px;
  padding: 7px;
  width: 210px;
  border-radius: 3px;
  background-color: #d3d1d1;
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 90%;
  left: 10%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #d3d1d1;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}

/* *************************** */
/* REVIEWS SECTION */
/* *************************** */

.review-name {
  margin-top: 4.8rem;
}
.reviews-section {
  border-top: solid 1px #dde8ce;
  border-bottom: solid 1px #dde8ce;
}

.reviews {
  display: flex;
  gap: 6.4rem;
  justify-content: center;
  align-items: center;
  padding-bottom: 6.4rem;
  color: #333;
  margin-top: 2.4rem;
}

.reviews-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  border-right: solid 1px #333;
  padding-right: 4.6rem;
}

.reviews-rating {
  font-size: 2rem;
  letter-spacing: 0.15rem;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.reviews-btm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.reviews-text {
  font-size: 1.8rem;
  letter-spacing: 0.15rem;
}

.revius {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-family: "Genos", sans-serif;
  margin-left: -1.5rem;
}

.revius-logo {
  font-size: 2.8rem;
  color: #e67e22;
}

.score {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  justify-content: center;
  align-items: center;
}

.review-title,
.review-score {
  font-size: 1.8rem;
}

.review-score {
  margin-top: -1rem;
}

.review-icon {
  font-size: 2.4rem;
}

/* *************************** */
/* TESTIMONIALS SECTION */
/* *************************** */

.sliderCSS{
  height: var(--height);
  width: 100%;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    transparent,
    #333 10% 90%,
    transparent
  );
}

.sliderCSS:hover .testimonial{
  animation-play-state: paused !important;
  filter: grayscale(1);
}
.sliderCSS .testimonial:hover{
  filter: grayscale(0);
}

.testimonials{
  display: flex;
  width: 100%;
  min-width: calc(var(--width) * var(--quantity));
  position: relative;
}

.testimonial{
  width: var(--width);
  height: var(--height);
  position: absolute;
  left: 25%;
  animation: autoRun var(--time) linear infinite;
  animation-delay: calc((var(--time) / var(--quantity)) * (var(--position) - 1) - var(--time)) !important;
  transition: filter 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

@keyframes autoRun {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--width) * -1);
  }
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
  color: #382a1e;
  font-style: italic;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}


.guest-box {
  display: grid;
  grid-template-columns: 15% 85%;
  justify-content: center;
  align-items: center;
  /* width: 500px; */
}

/* STARS */
.reviews-stars {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  padding: 0 0 3.2rem 0rem;
  color: #333;
}

.star-rating {
  display: flex;
  flex-direction: row;
}

.star-box {
  display: flex;
  gap: 1.2rem;
}

.star-rating li {
  list-style: none;
  color: #f2d2bd;
  font-weight: 500;
  font-size: 1.2rem;
  margin-top: 0.3rem;
}

.review-date {
  font-size: 1.4rem;
}

/* *************************** */
/* THINGS TO KNOW SECTION */
/* *************************** */

.ttk {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* gap: 1rem; */
  justify-content: space-between;
  padding: 0 0 2.4rem 0;
  color: #333;
  margin: 3.6rem 0 2.4rem 0;
}

.title-header {
  margin-top: 4.8rem;
}

.tth--column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.ttk--title {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.ttk--info {
  font-size: 1.6rem;
}

/* *************************** */
/* ASIDE SECTION */
/* *************************** */

aside {
  /* background: #999; */
  /* border-bottom: 2px solid #ff00ff; */
}

.aside-box {
  padding: 0 0 10rem 0 !important;
  text-align: center;
}

.aside-box p {
  font-size: 4rem;
  letter-spacing: 1px;
}

.aside-box span {
  font-weight: 600;
}

/* *************************** */
/* FOOTER SECTION */
/* *************************** */

.footer {
  padding: 10rem 0;
  /* CREATING A LINE SEPARATING THE FOOTER FROM THE SECTION ABOVE: */
  border-top: 3.6px solid #eee;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 39%,
    rgba(218, 199, 184, 1) 85%,
    rgba(181, 142, 113, 1) 100%
  );
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  width: 80%;
  display: block;
  margin-bottom: 1.2rem;
}

.footer-logo:hover {
  animation: wiggle 2s linear infinite;
}

/* Keyframes */
@keyframes wiggle {
  0%,
  7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-3deg);
  }
  20% {
    transform: rotateZ(2deg);
  }
  25% {
    transform: rotateZ(-2deg);
  }
  30% {
    transform: rotateZ(1deg);
  }
  35% {
    transform: rotateZ(-2deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  font-size: 3rem;
  background-image: linear-gradient(
    to right,
    #312622,
    #756560,
    #b58e71,
    #538b09,
    #3a6106
  );
  -webkit-background-clip: text;
  color: transparent;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6rem;
  background-image: linear-gradient(
    to right,
    #312622,
    #756560,
    #b58e71,
    #538b09,
    #3a6106
  );
  -webkit-background-clip: text;
  color: transparent;
  /* margin-top: auto; */
  /* IMPORTANT! if we set 'margin-top: auto', we will push the text under 'social-icon' to the very bottom of the box */
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 4rem;
}

.address {
  margin-bottom: 2.4rem;
}

.contact {
  font-style: normal;
  line-height: 1.6rem;
  /* reduced font due to the use of a different font-family */
  font-size: 1.5rem;
  color: #767676;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  color: #767676;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.5rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #444;
  font-weight: 500;
}

/* *************************** */
/* SOCIAL ICON BAR */
/* *************************** */

/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  position: fixed;
  /* The codes "top: 50%" and "right: 0" tell us exactly where this element should be displayed. In this case: 50% down from the top of the page and offset by 0 pixels from the right side of the window.  */
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: #00000038;
  border-radius: 30px;
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 5px 15px;
  transition: all 0.3s ease;
  /* color: #538b09; */
  color: #fff;
  font-size: 32px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  color: #538b09;
}

.instagram {
  background: transparent;
  color: white;
}

.facebook {
  background: transparent;
  color: white;
}

.twitter {
  background: transparent;
  color: white;
}

/* *************************** */
/*        WEBSITE LOADER         */
/* *************************** */

.preloader {
  width: 100%;
  position: fixed;
  z-index: 100;
}

.loader {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.ring {
  border: 12px solid #f3f3f3;
  border-top: 12px solid #538b09;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* contact form */


.form{
  width: 600px;
  padding: 20px 30px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  z-index: 10;
}

.form__title{
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}

.form__label{
  font-size: 14px;
  font-weight: 600;
  color: #484d4f;
  margin-bottom: 5px;
  font-weight: bold;
}

.form__label--last{
  margin-bottom: 25px;
}

.form__input, .form__select{
    padding: 10px;
    margin-bottom: 15px;
    font-size: 14px;
    color: #484d4f;
    border: none;
    background: #f1f1f1;
    border: 1px solid #f1f1f1;
    border-radius: 10px;
}

.form__button{
  background: #538b09;
  border: none;
  padding: 10px 0;
  border-radius: 10px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.form__popup{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: -1;
  border-radius: 20px;
}

.form__popupBox{
  background: #fff;
  padding: 60px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  z-index: 101;
}

.form__popupText{
  color: #333;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.form__popupText--big{
  font-size: 28px;
}

.form__popupButton{
  background: #538b09;
  padding: 10px 0;
  border-radius: 10px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  width: 100px;
  text-align: center;
  margin-top: 30px;
  cursor: pointer;
  border: 1px solid #538b09;
  z-index: 101;
  position: relative;
}

.form__popupButton:hover{
  background-color: #fff;
  color: #538b09;
}




/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */

/* *************************** */
/* BELOW 1350px (Smaller desktops) */
/* *************************** */

/* 1350px/16 = 84em */
@media (max-width: 84em) {
  html {
    /* By default, the font was set to 10px, we want to reduce this value so that everything on the screen is scaled, so we reduce the font by 1px to 9px, but since we want to present this value in %, we divide 9px / 16px = 56.25 --> which means that everything will be scaled and visible as 56.25% of the full image in px */
    font-size: 56.25%;
  }

  .logo {
    width: 90%;
  }

  /* HERO SECTION */

  /* TESTIMONIALS SECTION */
}

/* *************************** */
/* BELOW 1050px (Landscpe Tablets) */
/* *************************** */
/* 1050px/16 = 65.5em */
@media (max-width: 65.5em) {
  html {
    /* we reduce the font by 1px to 9px, but since we want to present this value in %, we divide 8px / 16px = 50 --> which means that everything will be scaled and visible as 50% of the full image in px */
    font-size: 50%;
  }

  .logo-link {
    justify-content: left;
  }

  .logo {
    width: 80%;
  }

  /* VIDEO SECTION */

  #background-video {
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
  }

  /* .hero {
    height: 75vh;
  } */

  /* MAIN SECTION */
  .section-main {
    padding: 4rem 0;
  }

  .main {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .main-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 80rem;
    margin: 0 auto;
    /* justify-content: center;
    align-items: center; */
  }

  .main-text {
    font-size: 1.6rem;
    line-height: 1.5;
    margin-bottom: 2rem;
  }

  .frame {
    width: 640px;
    height: 340px;
    overflow: hidden;
    /* box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.5); */
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.3);
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* FEATURED-IN SECTION */

  /* FOOTER */

  /* PAYMENT SECTION */

  .modal {
    padding: 2.4rem;
  }

  .gateway-form {
    padding: 0.5rem;
  }

  .gateway--section form .checkout-btn {
    padding: 8px;
    font-size: 12px;
  }
}

/* *************************** */
/* BELOW 944px (Tablets) */
/* *************************** */

/* 944px/16 = 59em */
@media (max-width: 59em) {
  .logo {
    width: 60%;
  }

  .icon-bar {
    display: none;
  }

  .main-nav-list {
    gap: 1.6rem;
    margin-right: 2.4rem;
  }

  /* VIDEO SECTION */

  /* .hero {
    height: 55vh;
  } */

  .hero-btn {
    font-size: smaller;
  }

  /* MAIN SECTION */

  .main-box {
    max-width: 70rem;
    margin-left: 8rem;
  }

  .arrow {
    display: none;
  }

  /* FEATURED SECTION */

  .logos {
    gap: 4rem;
  }

  /* ABOUT SECTION */

  .section-about {
    grid-template-columns: 1fr;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }

  .about-text-box {
    padding: 4rem 8rem;
  }

  .heading-secondary {
    margin-bottom: 4.8rem;
  }

  /* BOOKING SECTION */

  .section-booking {
    margin-bottom: 2rem;
  }

  .booking-box {
    grid-template-columns: 1fr 1fr;
    row-gap: 6.4rem;
  }

  .booking-box place-info {
    /* grid-column: 1 / 3; */
  }

  .list {
    grid-template-columns: repeat(2, 1fr);
  }

  /* REVIEWS SECTION */

  .reviews {
    display: flex;
    gap: 3.4rem;
  }

  /* TTK SECTION */
  .ttk-section {
    margin-bottom: -6rem;
  }

  /* FOOTER */
  .copyright {
    font-size: 1.2rem;
  }
}

/* *************************** */
/* BELOW 704px (Smaller Tablets) */
/* *************************** */
/* 704px/16 = 44em */
@media (max-width: 44em) {
  /* VIDEO SECTION */
  body{
    overflow-x: hidden;
  }

  /* .hero {
    height: 40vh;
  } */

  .hero h1{
    white-space: normal;
  }

  /* MAIN SECTION */

  .heading-primary {
    font-size: 2.4rem;
  }

  .hero-rs {
    font-size: 2.4rem;
  }

  .main-box {
    margin-left: 0rem;
  }

  .slide-box {
    overflow: hidden;
  }

  /* FEATURED SECTION */

  .logos img {
    height: 5rem;
    /*  code that allows you to edit photos/images and subtitles, e.g.: widening/blurring/color saturation/changing brightness, etc. */
    filter: brightness(0);
    opacity: 50%;
  }

  /* BOOKING SECTION */

  .booking-box {
    column-gap: 3.2rem;
  }

  .booking-title {
    font-size: 2rem;
    margin: 1.6rem 0 1.2rem 0;
  }

  /* REVIEWS SECTION */

  .reviews-top {
    padding-right: 1.6rem;
  }

  .reviews {
    display: flex;
    gap: 1.2rem;
  }

  /* FOOTER */

  .footer {
    padding: 5rem 0;
  }

  .grid--footer {
    grid-template-columns: 1fr 1fr;
    column-gap: 3.6rem !important;
    row-gap: 3.6rem !important;
    margin-left: 6rem;
  }

  .footer-logo {
    width: 80%;
    display: block;
    margin-bottom: 0.5rem;
  }

  .social-icon {
    font-size: 2.5rem;
  }

  .footer-link:link,
  .footer-link:visited {
    font-size: 1.6rem;
  }

  .footer-nav {
    gap: 1.2rem;
  }

  .footer-heading {
    margin-bottom: 2rem;
  }

  /* *** MOBILE NAVIGATION - BELOW 750px (Tablets) *** */

  /* Social Pages */

  .social-pages {
    gap: 1.2rem;
    margin-top: 0rem;
  }

  /* ----------- */
  .social-pages-link {
    color: #b78727;
  }

  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .main-nav {
    background-color: rgba(58, 56, 56, 0.904);
    position: absolute;
    /* position: absolute means that this entire item is taken out of the flow here and fundamentally are no longer flex item. It is therefore a completely independent element.  */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    /* We also need to add overflow-x: hidden to 'body' and 'html' and to .header --> position: relative - this means that all elements that will stick out in the X axis will always be hidden */

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;

    /* *** HIDE Navigation *** */
    /* display: none; */
    /* but.. display: none allows NO transitions at all, i.e. if we set display: none to 'transitions' it will not work, so we cannot animate this field, so we have to find another way, i.e. (1, 2, 3): */

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
  }

  /* ADDING an additional class 'nav-open' to the 'header' in the html, which will apply to the click on 'menu-outline'. 'nav-open' is now the parent element of 'main-nav'. This class is used to make the menu appear */
  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  /* We now want the 'menu-outline' icon to disappear and 'close-outline' to appear instead when the mobile-nav menu is opened */
  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 2.8rem !important;
    margin-right: 0;
  }

  .main-nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4.8rem;

    /* z-index: 9999 added to cover all elements */
    z-index: 9 !important;
  }

  .main-nav-link:link,
  .main-nav-link:visited,
  .main-nav-link:link span,
  .main-nav-link:visited span {
    font-size: 2.8rem !important;
    color: #fff;
  }

  .element:link,
  .element:visited {
    font-size: 2.4rem !important;
    color: #fff;
  }

  .element:first-child {
    color: #538b09;
    border-right: 1px solid #fff;
  }

  /* PAYMENT SECTION */

  .modal {
    width: 80%;
    z-index: 20 !important;
  }

  /* formularz kontaktowy */
  .form__overlay{
    position: relative;
  }

  .form{
    width: 100%;
  }

}

@media screen and (min-width: 705px){
  .form__overlay{
    position: absolute;
    top: 50%;
    right: 100px;
    transform: translate(0, -50%);
  }
}

/* *************************** */
/* BELOW 544px (Phones) */
/* *************************** */

/* 550px/16 = 34em */
@media (max-width: 34em) {
  html {
    font-size: 34%;
  }

  .logo {
    width: 45%;
  }

  /* VIDEO SECTION */

  /* .hero {
    height: 30vh;
  } */

  /* MAIN SECTION */

  .main-box {
    grid-template-columns: 1fr;
    max-width: 55rem;
    /* margin-left: 8rem; */
  }

  /* FEATURED-IN SECTION */

  .logos {
    gap: 2.2rem;
  }

  /* SECTION ABOUT */

  .about-text-box {
    padding: 4rem 2rem;
  }

  /* BOOKING SECTION */

  .booking-box {
    grid-template-columns: 1fr;
    row-gap: 6.4rem;
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 20px;
  }

  .booking-content {
    padding: 1.2rem 8em 2.4rem 10rem;
  }

  /* REVIEW SECTION */

  .reviews-top {
    border-right: none;
  }

  .score {
    display: none;
  }

  /* PAYMENT SECTION */

  .card-box img {
    width: 80%;
  }

  .gateway-box {
    padding: 2.4rem 0.5rem 0rem 0.5rem;
  }

  .gateway--section form .checkout-btn {
    padding: 4px;
    font-size: 12px;
  }
}
